* {
    margin: 0;
    padding: 0;

}






/* main navbar div  style */
.navbar {
    display: flex;

    margin-top: 6px;
    position: relative;

}

.title-text-navbar {
    font-size: 32px;
    font-weight: bolder;
    display: inline-block;

    padding-top: 20px;
    margin-left: 80px;
    color: rgb(11, 170, 244);;
}

.navbar-main-menu {
    position: relative;
    left: 35%;
}

.navbar-main-menu span,
input {
    margin: auto 10px;
}

.home-button {

    color: rgb(7, 125, 180);
}

#get-started-button {
    margin: 20px 40px;
    padding: 5px 10px;
    width: 115px;
    border-radius: 3px;
    height: 35px;
    background-color: rgb(11, 170, 244);
    color: white;
    border: none;
}

















/* dropdown menu style */
#dropdown-button:hover #dropdown-menu-content {

    display: flex;
    position: absolute;
    flex-direction: column;


    background-color: black;
    margin-top: -29px;
    left: 0;
    background-color: aliceblue;

    width: auto;
}

#dropdown-button:hover .dropdown-text {

    cursor: pointer;
}

#dropdown-menu-content a {
    text-decoration: none;

    background-color: rgb(255, 255, 255);
    text-align: center;
    display: inline-block;
    padding: 3px 25px;
    margin-top: 0;
    width: auto;
    font-size: 20px;
    color: black;


}

#dropdown-menu-content {
    display: none;
    background-color: aliceblue;
    border-radius: 1px;
    box-shadow: 1px 1px 1px 1px #f8eded;

}

#dropdown-button {
    position: relative;
}









/* main content style */

.main-content {
    display: flex;
    flex-direction: column;

}

.main-content-text {
    font-size: 52px;
    font-weight: bolder;
    color: rgb(2, 2, 79);
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 65px;
}

.secondary-main-text {
    color: gray;
    font-size: 26px;
    margin-top: 10px;
}

#get-started-button-main {
    margin: 20px 40px;
    padding: 5px 25px;
    width: 135px;

    border-radius: 3px;
    height: 40px;
    background-color: rgb(11, 170, 244);
    color: white;
    border: none;
}

.fa-chevron-circle-down {
    margin-left: 6px;
}








/* main content card styling */

.main-content-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 90px;
    margin-bottom: 90px;

}

.card {
    box-shadow: 5px -5px 15px #e8e7e7, -5px 5px 15px #efeeee;    border-radius: 4px;
    width: 180px;
    height: 210px;

    background-color: rgb(11, 170, 244);
    display: inline-block;
}

.card-heading {

    font-size: 22px;
    display: inline-block;
    font-weight: bold;
    margin: 6px 12px 4px 11px;


}

.card-heading i {
    margin: 23px 70px 15px 3px;
    font-size: 27px;
}

.card-text {


    margin: 1px 11px;

    display: inline-block;

}

input[type=button] {
    box-shadow: 5px -5px 15px #e8e7e7, -5px 5px 15px #efeeee;    border-radius: 4px;
    cursor: pointer;
}